---
--- 

@font-face {
  font-family: 'PPMori';
  src: url('PPMori-SemiBold.otf');
  font-style: bold;
  font-weight: bold;
}
@font-face {
  font-family: 'PPMori';
  src: url('PPMori-Italic.otf');
  font-style: italic;
  font-weight: italic;
}
@font-face {
  font-family: 'PPMori';
  src: url('PPMori-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

$gray: #333;
$light-gray: #c0c0c0;
$white: #fff;
$orange: #cc8400;

$breakpoint: 767px;
$gutter: 2em;
$gutter-half: 1em;

body {
	font-family: 'PPMori';
  font-size: 0.95em;
  line-height: 1.3em;
  color: $gray;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 0 $gutter-half;
  line-height: 1.5em;

  @media (min-width: $breakpoint) {
    padding: 0 $gutter;
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 2.5em;
    font-weight: bold;
  }

  a {
    color: $gray;
  }

  section {
    margin: $gutter auto;
  }
}

nav {
  margin-top: $gutter;
  margin-bottom: 3em;

  ul {
    li {
      display: inline-block;
      margin-right: $gutter;
  
      a {
        text-decoration: none;
        text-transform: uppercase;
      }

      &.badge {
        background-color: $gray;

        a {
          color: white;
        }
      }
  
      &.selected {
        a {
          color: $orange;
          text-decoration: underline;
        }
      }
    }
  }
}

footer {
  margin-top: $gutter;
  margin-bottom: $gutter;

  .footer {
    div {
      @media (min-width: $breakpoint) {
        &:first-child {
          text-align: left
        }
        &:not(:first-child):not(:last-child) { 
          text-align: center;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.specifications {
  font-size: 0.8em;
  line-height: 1.5em;
  color: $gray;
  
  p {
    letter-spacing: 0.05em;
  }
}

$project-height: 400px;
.projects {
  .project {
    height: $project-height;
    padding-bottom: $gutter;
    
    @media (min-width: $breakpoint) {
      // 4, 7, 10, ... (lefts)
      &:nth-child(3n+4), &:first-child {
        padding-right: $gutter-half;
      }

      // 3, 6, 9, ... (rights)
      &:nth-child(3n+3) {
        padding-left: $gutter-half;
      }

      // 2, 5, 8, ... (middles)
      &:nth-child(3n+2) {
        padding-left: $gutter-half;
        padding-right: $gutter-half;
      }
    }
    
    .clip {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;

      .project-title {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: $gutter-half;
        color: white;
        transition: all 0.3s ease;
        text-transform: uppercase;
        font-size: 1.1em;
        letter-spacing: 0.06em;
      }

      &:hover {
        .project-title {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.6)
        }
      }

      img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }

      span {
        display: block;
      }
    }
  }
}

.images {
  .image-container {
    .image {
      padding-bottom: $gutter;

      @media (min-width: $breakpoint) {
        &:first-child {
          padding-right: $gutter-half;
        }

        &:not(:first-child):not(:last-child) {
          padding-left: $gutter-half;
          padding-right: $gutter-half;
        }

        &:last-child {
          padding-left: $gutter-half;
        }   
        
        &:only-child {
          padding-right: 0em;
          padding-left: 0em;
        }
      }
      
      img {
        min-width: 100%;
      }
    }
  }
}

.people {
  .person {
    @media (min-width: $breakpoint) {
      // 4, 7, 10, ... (lefts)
      &:nth-child(3n+4), &:first-child {
        padding-right: $gutter-half;
      }

      // 3, 6, 9, ... (rights)
      &:nth-child(3n+3) {
        padding-left: $gutter-half;
      }

      // 2, 5, 8, ... (middles)
      &:nth-child(3n+2) {
        padding-left: $gutter-half;
        padding-right: $gutter-half;
      }
    }

    .person-content {
      padding-right: 2em;
      // font-size: 0.9em;
      // padding-left: 1em;
    }

    .person-image {
      height: 350px;
      overflow: hidden;

      img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }

      &:hover {
        img {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: inline-block;
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}