---
---

@font-face {
  font-family: 'PPMori';
  src: url('PPMori-SemiBold.otf');
  font-style: bold;
  font-weight: bold;
}
@font-face {
  font-family: 'PPMori';
  src: url('PPMori-Italic.otf');
  font-style: italic;
  font-weight: italic;
}
@font-face {
  font-family: 'PPMori';
  src: url('PPMori-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

:root {
  --pico-font-family: "PPMori";
  --pico-nav-element-spacing-vertical: 0;
}

$gray: #333;
$light-gray: #f1f1f1;
$white: #fff;
$black: #000;
$orange: #cc8400;

$breakpoint: 768px;
$gutter: 2em;
$gutter-half: 1em;

body {
  font-size: .9em;
  line-height: 1.5em;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 1rem;
  background-color: $white;

  &.is_fixed {
    border-bottom: 1px solid $light-gray;
  }
}

nav {
  a {
    &[aria-current="page"] {
      text-decoration: underline !important;
    }
  }
}

.logo {
  &:hover {
    a {
      text-decoration: none !important;
    }
  }
}

@media (min-width: $breakpoint) {
  .footer-left   { text-align: left; }
  .footer-center { text-align: center; }
  .footer-right  { text-align: right; }
}

a {
  color: $gray;
}

.grid-80-20 {
  @media (min-width: $breakpoint) { // Pico "medium" breakpoint
    grid-template-columns: 9fr 0.5fr 2.5fr;
  }
}

.project-specs {
  p {
    small {
      strong {
        letter-spacing: 0.1em;
      }
    }
  }
}

.lazy-image {
  filter: blur(20px);
  transition: filter 0.5s ease;
}

.lazy-image.loaded {
  filter: blur(0);
}

.splash-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c0c0c0;
  overflow: hidden;

  img {
    position: absolute; 
    inset: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.hide {
      opacity: 0;
    }
  }
}

.people {
  .person {
    @media (min-width: $breakpoint) {
      // 4, 7, 10, ... (lefts)
      &:nth-child(3n+4), &:first-child {
        padding-right: $gutter-half;
      }

      // 3, 6, 9, ... (rights)
      &:nth-child(3n+3) {
        padding-left: $gutter-half;
      }

      // 2, 5, 8, ... (middles)
      &:nth-child(3n+2) {
        padding-left: $gutter-half;
        padding-right: $gutter-half;
      }
    }

    .person-content {
      padding-right: 2em;
      // font-size: 0.9em;
      // padding-left: 1em;
    }

    .person-image {
      height: 350px;
      overflow: hidden;

      img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }

      &:hover {
        img {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: inline-block;
          }
        }
      }
    }
  }
}

.project-grid {
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 120px;
  grid-gap: $gutter-half;

  @media (min-width: $breakpoint) { // Pico "medium" breakpoint
    display: grid;
    margin: 0 auto;
  }

  .cell {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;

    display: block;

    @media (max-width: $breakpoint) {
      width: 100%;
      height: 300px;
      margin-bottom: $gutter-half;
    }

    .label {
      position: absolute;
      font-size: 2em;
      line-height: 1.3em;
      padding: $gutter-half;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0);
      transition: background 0.3s ease;
    }

    &:hover {
      &::before {
        background: rgba(0, 0, 0, 0.6);
      }

      .label {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
