---
name: index
---

{% include head.html %}

{% include nav.html %}

<div class="splash-container">
  <img src="/img/projects/small-lots-big-impacts/Small_Lots2__front_yard_w2000.jpg">
  <img src="/img/projects/moew/17A1_fromdeck_w2000.jpg" class="hide">
  <img src="/img/projects/waystation/7_WayStation_127NEWS_w2000.jpg" class="hide">
  <img src="/img/projects/native-juice/1-Native-168Sutter-2016-15.jpg" class="hide">
</div>

<script>
  const imgs = document.querySelectorAll('img');
  let num = 0;
  setInterval(() => {
    currImg = num;
    nextImg = num == imgs.length - 1 ? 0 : num + 1;
    imgs[nextImg].className = "";
    imgs[currImg].className = "hide" 
    num = nextImg;        
  }, 5000);
</script>

{% include foot.html %}