---
name: index
---


{% include head.html %}

<div class="splash-container">
  <img src="/img/projects/waystation/1_WayStation_403PROJECT_w2000.jpg">
  <img src="/img/projects/moew/31Moderns13_w1500.jpg" class="hide">
  <img src="/img/projects/fremont-theater/6After_School_in_Community_Theater_w1500.jpg" class="hide">
</div>

<script>
  const imgs = document.querySelectorAll('img');
  let num = 0;
  setInterval(() => {
    currImg = num;
    nextImg = num == imgs.length - 1 ? 0 : num + 1;
    imgs[nextImg].className = "";
    imgs[currImg].className = "hide" 
    num = nextImg;        
  }, 5000);
</script> 

<div class="sticky sticky-top">
  <div class="container">
    {% include nav.html %}
  </div>
</div>

<div class="sticky sticky-bottom">
  <div class="container">
    {% include foot.html %}
  </div>
</div>
