<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>s_sk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="studio skaggs kennedy"/>
    <link rel="canonical" href="https://www.studiosk.net" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="studiosk - studio skaggs kennedy" />
    <meta property="og:description" content="studio skaggs kennedy" />
    <meta property="og:url" content="https://www.studiosk.net" />
    <meta property="og:site_name" content="studiosk" />
    {% if page.hidden %}
    <meta name=”robots” content=”noindex,nofollow”>
    {% endif %}

    <!-- REMOVE THESE BEFORE GO LIVE -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <!-- REMOVE THESE BEFORE GO LIVE -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{site.url}}/css/ssk.css">
  </head>
<body>
