<nav class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item {% if page.url == '/' %}pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{{site.url}}/"><strong>studiosk.net</strong></a>
    </li>
    <li class="pure-menu-item {% if page.url == '/news/' %}pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{{site.url}}/news/">news</a>
    </li>
    <li class="pure-menu-item {% if page.url == '/projects/' %}pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{{site.url}}/projects">projects</a>
    </li>
    <li class="pure-menu-item {% if page.url == '/studio/' %}pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{{site.url}}/studio/">studio</a>
    </li>
    <li class="pure-menu-item {% if page.url == '/contact/' %}pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{{site.url}}/contact/">contact</a>
    </li>
  </ul>
</nav>
