<header>
  <div class="container">
    <nav>
      <ul>
        <li class="logo"><a href="/"><strong>S_SK</strong></a></li>
      </ul>
      <!-- <ul>
        <li><small>Studio Skaggs Kennedy</small></li>
      </ul> -->
      <ul>
        <li><a href="{{site.url}}/projects/" aria-current="{% if page.url == '/projects/' %}page{% endif %}">Projects</a></li>
        <li><a href="{{site.url}}/studio/" aria-current="{% if page.url == '/studio/' %}page{% endif %}">Studio</a></li>
        <li><a href="{{site.url}}/contact/" aria-current="{% if page.url == '/contact/' %}page{% endif %}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const nav = document.querySelector("header");

  if (!nav) return;

  window.addEventListener("scroll", () => {
    if (window.scrollY > 15) {
      nav.classList.add("is_fixed");
    } else {
      nav.classList.remove("is_fixed");
    }
  });
});
</script>