---
layout: base
---

<!-- primary image -->
<section class="hero">
  {% include image.html 
    filename=page.featured_image
    size=2000 
  %}
</section>

<!-- title -->
<section>
  <h1>{{page.title}}</h1>
</section>

<!-- prose -->
<section class="grid grid-80-20">
  <div>
    {{page.content}}
  </div>

  <div>
    &nbsp; <!-- whitespace grid -->
  </div>

  <div class="project-specs">
    {% for spec in page.specs %}
      <p>
        <small>
          <strong>{{spec.key | upcase}}</strong>
          <br>
          {% for v in spec.value %}
            {% if v.url %}
            <a href="{{ v.url }}" target="_blank" rel="noopener">
              {{ v.name }}
            </a>
            {% else %}
              {{ v.name }}
            {% endif %}
            <br>
          {% endfor %}
        </small>
      </p>
    {% endfor %}
  </div>
</section>

{% for i in page.images %}
<section class="grid">
  {% for img in i.imgs %}
    {% include image.html 
      filename=img 
      size=2000 
    %}
  {% endfor %}
</section>
{% endfor %}

<script>
document.addEventListener("DOMContentLoaded", function() {
  const lazyImages = document.querySelectorAll("img.lazy-image");

  lazyImages.forEach(img => {
    const picture = img.closest("picture");
    const sources = picture ? picture.querySelectorAll("source") : [];

    // Preload full-res sources
    sources.forEach(source => {
      const highResSrc = source.dataset.srcset;
      const preloader = new Image();
      preloader.src = highResSrc;
      preloader.onload = () => {
        source.srcset = highResSrc;
      }
    });

    // Preload main img
    const highResImg = new Image();
    highResImg.src = img.dataset.src || img.src.replace("_blurred.jpg", "_w2000.webp");
    highResImg.onload = () => {
      img.src = highResImg.src;
      img.classList.add("loaded");
    }
  });
});
</script>